<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Blogs List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
  <h1>Add New Blog</h1>
  <form action="#" th:action="@{/blogs/store}" th:object="${blog}" method="post">
    <div clas="row">
      <div class="form-group col-md-4">
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title" placeholder="Title" class="form form-control">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
      </div>

      <div class="col-md-2">
        <input type="submit" value="Create Blog" class="btn btn-primary">
      </div>
    </div>
  </form>
</body>
</html>